@import './base.css';
@import './fonts.css';

#app {
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

@media (min-width: 1024px) {
  body {
    display: flex;
  }
}


.phase-number {
  background-color: white;
  clip-path: polygon(0 20%, 50% 0, 100% 20%, 100% 80%, 50% 100%, 0% 80%);
  color: black;
  padding: 0 0.2rem;
  mix-blend-mode: lighten;
  font-weight: bold;
}

.phase-number-descr {
  clip-path: polygon(0 20%, 50% 0, 100% 20%, 100% 80%, 50% 100%, 0% 80%);
  color: white;
  padding: 0 0.2rem;
  mix-blend-mode: darken;
  font-weight: bold;
}

.phase-number-supplies {
  clip-path: polygon(0 20%, 50% 0, 100% 20%, 100% 80%, 50% 100%, 0% 80%);
  background-color: black;
  color: white;
  padding: 0 0.2rem;
  font-weight: bold;
}

.item-name {
  font-size: 1.1rem;
  font-family: "Arvo", serif;
  font-weight: 400;
  font-style: normal;
}

.card-flexcol {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  width: 450px;
}

@Media(max-width: 500px)
{
  .card-flexcol {
    width: 90vw;
  }
}
.flexrow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.flexrow-title {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 0.25rem;

  b {
    padding-right: 1.5rem;
  }
}

.card-top {
  color: white;
  padding-top: 0.25rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  padding-bottom: 0.45rem;
  /*width: 450px;*/

}

.card-bot {
  color: black;
  padding-left: 0.25rem;
  /*width: 450px;*/

}

.action {
  clip-path: polygon(0 0, 430px 0, 431px 6px, 433px 11px, 436px 14px, 439px 17px, 444px 19px, 100% 20px, 100% 100px, 0 100px);
}

.passive-ability {
  border-top-right-radius: 20px;
}

.reaction {
  clip-path: polygon(0 0, 429px 0, 429px 14px, 443px 14px, 443px 7px, 436px 7px, 436px 21px, 100% 21px, 100% 100px, 0 100px);
}

.attack-action {
  clip-path: polygon(0 0, 430px 0, 100% 20px, 100% 100%, 0 100%);
}


.bold {
  font-weight: bold;
}

.accuracy {
  background-color: #242e62;
  clip-path: polygon(10% 30%, 50% 10%, 90% 30%, 90% 80%, 50% 100%, 10% 80%);
  color: white;
  padding: 0 0.2rem;
  font-weight: bold;
}

.colored-pill {

  color: white;
  padding: 0 0.5rem;
  margin-left: 0.25rem;
  border-radius: 100px;
}
.slightly-bigger {
  font-size: 1.07rem;
}

.buttons {
  display: flex;
  gap: 1rem;
  button {
    width: 150px;
  }
}